body {
	margin: 0;
	font-family: avenir;
	background-color: #EEEEEE;
}

/* top section */
.topcover {
	background-image: url(Trefoil_knot_conways_game_of_life.gif);

	//background-attachment: fixed;
    //background-position: 0px -100px;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width:100%;
	height:100vh;
	text-align: center;
}

.colorlayer {
	background-color: rgba(100,100,255,0.8);
	height:100%;
}

.centereddiv {
	//max-width: 700px;
	width: 92%;
	margin: 0 4%;


	position: relative;
	top: 30%;
	transform: translate(0, -30%);
}

.big {
	color: #FFFFFF;
	//text-shadow: -1px 2px 80px #000000;
	text-shadow: -1px 2px 80px rgba(50,50,175,1);
}

.name {
	font-size: 6rem;
	letter-spacing: 0.5rem;
}
.description {
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
}

.instagram {
	background: url(glyph-logo_May2016.png);
}

.facebook {
	background: url(flogo-HexRBG-Wht-144.png);
}

.github {
	background: url(GitHub-Mark-Light-64px.png);
}

/* icons */
.iconholder {
	width:174px;
	height:100%;
	margin:0 auto;
	overflow: hidden;
	text-align: center;
}

.icon {
	float: left;
	display: inline;
	margin:0px 4px;

	background-size: 36px;
	background-repeat: no-repeat;
	background-position: 6px 6px;

	box-sizing: border-box;
	width:50px;
	height: 50px;

	background-color: rgba(80,80,215,1);
	border: 1px solid rgba(50,50,175,1);
}

.icon:hover {
	background-color: rgba(70,70,205,1);
}

/* blocks */

.block {
	box-sizing: border-box;
	float:left;
	max-width:400px;
	width:350px;
	margin-left: 8px;
	margin-top: 8px;
	height:200px;

	background-color: #FFFFFF;
	border: solid 1px #BBBBBB;
	box-shadow: -1px 1px 2px #999999;
}

.block:hover {
	box-shadow: -3px 3px 10px #999999;
}

@media only screen and (max-width: 800px) {
	.name {
		font-size: 5rem;
	}
	.description {
		font-size: 1.0rem;
	}
}
@media only screen and (max-width: 700px) {
	.name {
		font-size: 4rem;
	}
	.description {
		font-size: 0.9rem;
	}
}
